body {
  min-height: 100vh;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  background-color:#fefcff;
}

header {
  height: 50px;
  position: relative;
  z-index: 1;
  background-color:#44138483;
  color: white;
}

main {
  padding: 50px 0;
  min-height: calc(100vh - 50px);
}

.container {
  padding: 0 100px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 5px;
  }
}

.offcanvas {
  background-color: #44138483;
  color: white;
}