.table th, .table td {
  vertical-align: middle;
  word-break: keep-all;
  padding: 12px;
  @include media-breakpoint-up(lg) {
    padding: 12px 16px;
  }
  button, .btn {
    padding: 4px 12px;
    min-width: 80px;
  }
}
